<?xml version='1.0' encoding='utf-8'?>
<widget id="com.SlackPebble" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://strapkit.straphq.com/ns/1.0">
    <name>SlackPebble</name>
    <description>
        A sample StrapKit application.
    </description>
    <author email="support@straphq.com" href="http://straphq.com">
        Strap Team
    </author>
    <content src="index.js" />
    <access origin="*" />
</widget>
